/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    color: #fff;
    font: 600 24px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
    margin: 12px 45px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgb(229, 229, 229);
    color: rgb(117, 119, 126);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    font-family: 'Karla', sans-serif;
}

/* css color variable */
:root {
    --primary-color: rgb(35, 41, 70);
    --bg-color: rgb(223, 236, 255);
    --dark-text: rgb(2, 5, 17);
    --light-text: rgb(115, 115, 119);
    --secondary-color: rgb(249, 35, 77);
    --btn-color: rgb(249, 35, 77);
    --footer-colr: rgb(172, 176, 195);
}

/* General */
html {
    font-size: 16px;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

.container {
    /* max-width: 1330px; */
    /* max-width: 1280px; */
    max-width: 1120px;
    margin: 0 auto;
    /* padding: 0 5rem; */
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.item-start {
    align-items: flex-start;
}

.flex-inline {
    display: flex;
    align-items: center;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FLEX COLUMNS */
.flex-60 {
    flex: 0 1 60%;
}

.flex-50 {
    flex: 0 1 50%;
}

.flex-48 {
    flex: 0 1 48%;
}

.flex-46 {
    flex: 0 1 46%;
}

.flex-40 {
    flex: 0 1 40%;
}

.flex-30 {
    flex: 0 1 30%;
}

.flex-28 {
    flex: 0 1 28%;
}

.flex-25 {
    flex: 0 1 25%;
}

.flex-23 {
    flex: 0 1 23%;
}

.flex-20 {
    flex: 0 1 20%;
}

.flex-15 {
    flex: 0 1 15%;
}

.grow {
    flex: 1 1 auto;
}

.wrap {
    flex-wrap: wrap;
}

.padding {
    padding: 1rem 0;
}

.margin {
    margin: 1.5rem 0;
}

.font-0 {
    font-size: 0;
}

.full-width {
    width: 100%;
    object-fit: cover;
}

.active {
    color: var(--secondary-color) !important;
}

.active-date {
    background: var(--secondary-color);
    color: #fff !important;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    /* letter-spacing: 0.8px; */
    cursor: pointer;
    color: #000;
    /* font-size: 1rem; */
    transform: all 200ms ease-in-out;
    border-radius: 1rem;
    font-weight: 600;
    border: 1px solid #000;
    background: transparent;

}

.btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    opacity: 0.8;
    /* color: #fff !important; */
}
.spin {
    cursor: pointer;
    transform-style: preserve-3d;
  }
  .spin:hover {
      animation: spin 5s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .cube {
    position: relative;
    width: 95px;
  }
  .side {
    height: 95px;
    line-height: 95px;
    position: absolute;
    text-align: center;
    width: 95px;
  }
  .top {
    background: #33cc54;
    transform: rotate(-45deg) skew(15deg, 15deg);
  }
  .left {
    background: #2db34a;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
  }
  .right {
    background: #26973e;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
  }
  .twoD-container{
  margin:0 auto;
  }
  h1{
    text-align: center;
    color: #000;
    margin-right: -5rem;
    margin-bottom: 7rem;
    margin-top: 1.5rem;
  }
  